<!DOCTYPE html>
<html lang="en">
<head>
<title>Error</title>
<object th:include="fragments/header :: scripts" th:remove="tag"></object>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav th:replace="fragments/header :: navbar"></nav>
	<div class="container">
		<div class="row">
			<div class="span8">
				<fieldset>
					<legend>Error</legend>
					<p>Some error happened. Please contact our support team.</p>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>
