<!DOCTYPE html>
<html lang="en">
<head>
<title>New User</title>
<object th:include="fragments/header :: scripts" th:remove="tag"></object>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
	$(document).ready(function() {

		// Validation
		$("#connect").validate({
			rules : {
				terms : {
					required : true,

				}
			},

			messages : {
				terms : "Accept Term and Conditions."
			},

			errorClass : "help-inline",
			errorElement : "span",
			highlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').addClass('has-error');
			},
			unhighlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').removeClass('has-error');
				$(element).parents('.form-group').addClass('has-success');
			},
			errorPlacement : function(error, element) {
				if (element.parent('.input-group').length) {
					error.insertAfter(element.parent());
				} else {
					error.insertAfter(element);
				}
			}
		});
	});
</script>
</head>
<body>
	<nav th:replace="fragments/header :: navbar"></nav>
	<div class="container">
		<div class="row">
			<div class="span8">
				<fieldset>
					<legend>Connect</legend>
					<form class="form-horizontal" id="connect" action="/connect">
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-4">
								<label for="terms" class="input-group form-control"> <input
									type="checkbox" id="terms" name="terms" value="accepted"></input>
									I Accept the <a href="/termsConditions">Terms and
										Conditions.</a>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="col-sm-2" style="margin-left: -12px;">
									<button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Connect</button>
								</div>
							</div>
						</div>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>